name: Build the library
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    name: Build the plugin
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install dependencies on ubuntu
        run: |
          sudo apt update && sudo apt install -y ninja-build build-essential cmake git python3

      - name: Install slurm
        env:
          SLURM_VERSION: slurm-21-08-3-1
        run: |
          git clone -b ${SLURM_VERSION} --depth=1 https://github.com/SchedMD/slurm.git
          cd slurm
          ./configure \
            --disable-gtktest \
            --disable-debug \
            --disable-slurmrestd
          make -j$(nproc)
          make install

      - name: Configure
        run: |
          mkdir build && cd build
          mkdir artifacts
          cmake .. -G "Ninja" -DCMAKE_INSTALL_PREFIX=artifacts

      - name: Compiling
        working-directory: build
        run: |
          ninja -j$(nproc)

      - name: Installing
        working-directory: build
        run: |
          ninja install

  build-with-docker:
    name: Build the plugin with docker
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true

      - name: Build
        run: docker build . -t jobcomp_report
